* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text-color);

    font-family: "KoHo", serif;

    overflow: hidden;
}

:root {
    --bg-color: #121214;
    --text-color: #fff;
}

body {
    height: 100vh;
    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
}

h3 {
    font-weight: 100;
    text-align: center;
}

nav {
    position: fixed;
    bottom: 30px;
}

#menu {
    display: flex;
    gap: 50px;

    list-style-type: none;
}

#menu li img {
    width: 45px;
}

#menu li {
    cursor: pointer;
    transition: transform .6s;
    padding: 5px;
}

#menu li:hover {
    transform: scale(1.2);
}

#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

main {
    display: none;
    height: 100vh;
}

#titulo {
    font-size: 3rem;
    text-align: center;
}

#close-button {
    cursor: pointer;
}

#close-button::after, #close-button::before {
    content: "";
    width: 5px;
    height: 25px;

    background-color: #fff;

    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#close-button::after {
    transform: rotate(45deg);
}

#close-button::before {
    transform: rotate(135deg);
}

/* SOBRE MIM */
#sobre-mim-container {
    display: none;
    gap: 100px;
    margin: 0px 100px;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

p {
    width: 50%;
    text-align: justify;
}

#photo {
    width: 300px;

    border: 1px solid #fafafa;
    border-radius: 50%;
}

/* PROJETOS */

#projetos-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.carrosel-projetos {
    display: flex;
    gap: 10px;

    justify-content: center;
    align-items: center;
}

.projetos {
    display: flex;
    flex-direction: column;

    width: 300px;

    transition: transform .7s;

    cursor: pointer;
    padding: 20px;
}

.projetos:hover {
    transform: scale(1.1);
}

.imagem-projeto {
    width: 100%;
    border: 1px solid #fff;
}

.titulo-projeto {
    padding: 10px 0px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #98989840;
    text-transform: uppercase;
}

#previous, #next {
    width: 50px;
    height: 50px;

    cursor: pointer;
}

/* SERVICOS */
#servicos-container {
    display: none;
    width: 100vw;
    margin: 9rem 0px 0px 12rem;
}

.servicos {
    display: flex;
    gap: 30px;
    flex-flow: row wrap;
    max-width: 1000px;

    padding: 15px;
}

.servico {
    width: 300px;
    border: 1px solid #fff;
    border-radius: 20px;

    background: #D9D9D920;

    padding: 20px 0px;
    transition: .5s;
}

.icon-servico {
    display: block;
    margin: auto;
    width: 80px;
    padding-bottom: 15px;
}

.titulo-servico {
    font-weight: 600;
    font-size: 30px;
}

.servico:hover {
    transform: scale(0.98);
    background: #D9D9D940;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 8rem;
    right: 3rem;
}

#tecnologias {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    max-width: 110px;
}

.tecnologia-icon {
    width: 50px;
    filter: saturate(0);
    transition: filter .5s;
}

.tecnologia-icon:hover {
    filter: saturate(1);
}

/* CONTATO */
#contato-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#contato-container form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#contato-container input, 
#contato-container textarea {
    background-color: transparent;
    width: 22rem;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
    padding: 2px;
}

#contato-container input {
    border: none;
    border-bottom: 1px solid #fff;
}

#contato-container textarea {
    border: 2px solid #919191;
    border-radius: 3px;
    height: 10rem;
}

#contato-container input::placeholder,
#contato-container textarea::placeholder {
    font-style: italic;
}

#contato-container #button-send {
    width: 100px;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-style: italic;
    cursor: pointer;
    transition: background-color .5s;
}

#contato-container #button-send:hover {
    background-color: #717171;
}

#contato-container #social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 30px;
    bottom: 13rem;
}


#contato-container #social-links img:nth-child(1),
#contato-container #social-links img:nth-child(2) {
    padding: 2px;
}

#contato-container #social-links img {
    width: 40px;
    cursor: pointer;
    transition: transform .8s;
}

#contato-container #social-links img:hover {
    transform: scale(1.2);
}